builder/__pycache__/
tester/__pycache__/
walker/__pycache__/
__pycache__/
walker/Kmin.conf
walker/Kold.conf
walker/logs/
walker/Pmodels/
walker/dictfiles/
walker/all_hiscores/
walker/hiscores_global.dict
walker/hiscores_top.dict
plotDBDict.log
